.maskGroupIcon,
.maskGroupIcon1 {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
}
.maskGroupIcon {
  height: 48px;
  position: relative;
  flex-shrink: 0;
  z-index: 2;
}
.maskGroupIcon1 {
  height: 22px;
  z-index: 3;
}
.avaliaes,
.frameIcon,
.maskGroupIcon1 {
  position: relative;
  flex-shrink: 0;
}
.frameIcon {
  height: 16px;
  width: 16px;
  overflow: hidden;
  min-height: 16px;
  z-index: 1;
}
.avaliaes {
  margin-top: -2px;
  height: 13px;
  flex: 1;
  display: inline-block;
  debug_commit: 1de1738;
}
.frame {
  height: 16px;
  flex: 1;
  overflow: hidden;
  flex-direction: row;
  padding: 0 0 var(--padding-8xs) var(--padding-12xs);
  box-sizing: border-box;
  z-index: 1;
}
.frame,
.frameGroup,
.maskGroupParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  width: 120px;
  flex-direction: row;
  gap: var(--gap-7xs);
}
.maskGroupParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xs);
  min-width: 168px;
}
.groupIcon {
  width: 48px;
  height: 48px;
  position: relative;
  z-index: 2;
}
.groupWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-sm);
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
